@media (max-width: 600px) {
    *{
        -webkit-tap-highlight-color: transparent;
    }
    nav h4 {
        display: none;
    }

    nav i {
        display: block;
        font-size: 6vw;
        position: absolute;
        right: 30px;
        top: 30px;
    }

    nav {
        height: 60px;
        padding: 0 6vw;
    }

    .mobile-nav {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 20px;
        background: #1a0025;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 15px #a855f7;
        z-index: 999;
      
        /* Animation start state */
        transform: translateY(-20px);
        opacity: 0;
        pointer-events: none;
        transition: all 0.3s ease;
      }
      
      .mobile-nav a {
        color: white;
        text-decoration: none;
        margin: 10px 0;
        font-size: 18px;
      }
      
      body.nav-open .mobile-nav {
        display: flex;
        transform: translateY(0);
        opacity: 1;
        pointer-events: auto;
      }
      
    



    .main {
        flex-direction: column;
        height: auto;
        box-shadow: 0 0 10px #a855f7;
        margin-top: 8px;
    }

    .left {
        width: 100%;
        padding: 4vw 6vw;
        height: auto;
        margin-left: 0;
    }

    .left h3 {
        margin-top: 10vw;
        padding-bottom: 10px;
        font-size: 10vw;
        line-height: 11vw;
    }

    .left p {
        font-size: 5vw;
        margin-top: 8vw;

        width: 100%;
    }
    
    .left button{
        margin-left: 14.5vh;
        -webkit-tap-highlight-color: transparent;
     }

    .right {
        width: 100%;
        height: auto;
        padding: 5vw 6vw;
    }

    .right img {
        height: auto;
        width: 100%;
    }
    /* About Section */

    .about h3{
        font-size: 4vh;
        padding-left: 3vh;
    }

    .about p{
        font-size: 5vw;
        padding: 0 3vh;
    }

    .about .para{
        padding: 3vh 0;
        padding-bottom: 4vh;
    }
    /* Skills Section */

    .skills h3{
        font-size: 4vh;
        padding-left: 3vh;
    }

    .skills img{
    height: 25vw;
    width: 25vw;
    margin: 10px 0;
    }

    .skills .part1,
    .skills .part2 {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      gap: 6vw;
      flex-wrap: wrap;
      padding-bottom: 8vw;
    }

    /* Contact Section */
    .contact h3{
        font-size: 4vh;
        padding-left: 3vh;
    }

    .contact p{
        font-size: 5vw;
        padding: 0 3vh;
    }

    .contact-details p{
        font-size: 4.5vw;
        line-height: 10vw;
    }
    .social-icons {
        gap: 5vh;
    }
    
    /* Footer Section */
    footer h3{
        font-size: 3vh;
    }

}