* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    background: linear-gradient(145deg, #1a0025, #3a0057, #5c007a, #390048);
    min-height: 100vh;
    color: aliceblue;
    overflow-x: hidden;
}

/* Wrapper for internal content glow */
.wrapper {
    padding: 10px;
}

/* NavBar */
nav {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4vw;
    
}

nav h4 {
    font-weight: bolder;
    font-size: 4vh;
    
}

nav i {
    font-size: 2vw;
    font-weight: bolder;
    display: none;
}

nav h4:hover {
    text-shadow: 0 0 10px #a855f7, 0 0 20px #9333ea;
    cursor: pointer;
}

/* Main Content */
.main {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: calc(100% - 80px);
    box-shadow: 0 0 20px #a855f7, 0 0 30px #9333ea;
    border-radius: 16px;
    margin: 10px auto;
}

/* Left Section */
.left {
    width: 50%;
    padding: 120px 100px;
}
.left strong{
    color: #D6A3FB;
}

.left h3 {
    font-size: 7vh;
    color: #fff;
    padding-bottom: 40px;
}

.left h3 span {
    color: #D6A3FB;
}

.left p {
    font-size: 5vh;
    padding-bottom: 40px;
}

.left button {
    background-color: #bb65e6;
    color: #08010d;
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 0 10px #a855f7, 0 0 20px #9333ea;
    margin-top: 10px;
}

.left button:hover {
    background-color: #3a0057;
    color: #D6A3FB;
    transform: scale(1.1);
}

/* Right Section */
.right {
    width: 50%;
}

.right img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    padding: 3vw 7vw;
}

/* About Section */

.about{
    width: 100%;
    box-shadow: 0 0 20px #a855f7, 0 0 30px #9333ea;
    border-radius: 16px;
    margin: 20px auto;
}

.about h3{
    font-size: 4vw;
    text-decoration: underline;
    padding-top: 40px;
    padding-left: 80px;
    padding-bottom: 30px;
}

.about p{
    padding: 0 80px;
    font-size: 5vh;
}

.about p strong{
    color: #D6A3FB;
}

.about .para{
    padding-top: 2vw;
    padding-bottom: 5vw;
}

.skills{
    width: 100%;
    box-shadow: 0 0 20px #a855f7, 0 0 30px #9333ea;
    border-radius: 16px;
    margin: 20px auto;
    
}

.skills h3{
    font-size: 4vw;
    text-decoration: underline;
    padding-top: 40px;
    padding-left: 80px;
    padding-bottom: 30px;
}

.skills img{
    height: 10vw;
    width: 10vw;
    
}

.skills .part1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15vw;
    padding-bottom: 8vw;
}

.skills .part2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20vw;
    padding-bottom: 5vw;
}

/* Contact Section */
.contact{
    width: 100%;
    box-shadow: 0 0 20px #a855f7, 0 0 30px #9333ea;
    border-radius: 16px;
    margin: 20px auto;
}

.contact h3{
    font-size: 4vw;
    text-decoration: underline;
    padding-top: 40px;
    padding-left: 80px;
    padding-bottom: 30px;
}

.contact p{
    padding: 0 80px;
    font-size: 5vh;
}

.contact-details{
    padding: 5vh 0;
}


.contact-details strong{
    color: #D6A3FB
}

.social-icons {
    display: flex;
    gap: 2vw;
    justify-content: center;
    padding: 20px 0;
  }
  
  .social-icons a {
    background-color: #9333ea;
    color: white;
    padding: 12px 16px;
    border-radius: 50%;
    font-size: 24px;
    text-decoration: none;
    transition: all 0.3s ease;
    box-shadow: 0 0 10px #a855f7, 0 0 20px #9333ea;
  }
  
  .social-icons a:hover {
    background-color: #3a0057;
    color: #D6A3FB;
    transform: scale(1.1);
  }
  
  /* Footer Section */
  footer{
    text-align: center;
    margin-top: 80px
  }

  footer h3{
    font-size: 4vh;
  }

  footer h3 strong{
    color:#D6A3FB ;
  }
